* {
    font-family: 'Noto Serif', serif;
}

.navbar-nav {
    margin-left: auto;
}

body {
    background-image: url("../images/bg-pattern.jpg");
    background-size: cover;
}

p {
    color:#EAEAEA;
}

h1, h3 {
    border-bottom: white 1px solid;

}
 .rounded {
     width: 250px;
 }

#profile-img:hover {
    filter: grayscale(100%);
}

#head-shad {
    text-shadow: 4px 4px #ffffff;
    letter-spacing: 0.2em;
}

.fa-linkedin {
   
    color: #007bb5;
   /* padding: 15px;
    font-size: 70px;
    width: 50px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;*/
    margin-right: 10px ; 
} 
.fa:hover {
    opacity: 0.7;
  }
.fa-github {
    color: black;
}
.fa-chevron-down {
    color: #6C757D;
}

#hero {
    background-color: #EAEAEA;
}

.hero-text {
    color: #6C757D;
}

.navbar-brand:hover {
    letter-spacing: 0.2em;
}

#footer-ref {
    color: #6C757D;
}