* {
    font-family: 'Noto Serif', serif;
}

/* style by element */
body {
    background-image: url("../images/bg-pattern.jpg");
    background-size: cover;
}

p {
    color:#EAEAEA;
}

h1, h3 {
    border-bottom: white 1px solid;

}

/* navbar styling */
.navbar-brand:hover {
    letter-spacing: 0.2em;
}

.navbar-nav {
    margin-left: auto;
}

/* icon styling  */
.fa-linkedin {
    color: #007bb5;
    margin-right: 10px ; 
} 
.fa:hover {
    opacity: 0.7;
  }
.fa-github {
    color: black;
}
.fa-chevron-down {
    color: #6C757D;
}

/* hero styling */
#hero {
    background-color: #EAEAEA;
}

.hero-text {
    color: #6C757D;
}
#profile-img:hover {
    filter: grayscale(100%);
}

#head-shad {
    text-shadow: 4px 4px #ffffff;
    letter-spacing: 0.2em;
}

/* footer styling */
#footer-ref {
    color: #6C757D;
}

/* fade in on load 
https://medium.com/cloud-native-the-gathering/how-to-use-css-to-fade-in-and-fade-out-html-text-and-pictures-f45c11364f08*/

.fade-in {
    animation: fadeIn ease 2s;
    -webkit-animation: fadeIn ease 2s;
    -moz-animation: fadeIn ease 2s;
    -o-animation: fadeIn ease 2s;
    -ms-animation: fadeIn ease 2s;
    }
    @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }